.footer {
    background-color: #daa5f1;
    height: 10vh;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto1 {
    font-size: 0.2 em;
    margin: 0;
    color: white;
}

.texto2 {
    font-size: 0.2 em;
    margin: 0;
    color: white;
}